@import '~antd/dist/antd.css';

.header {
  width: 100%;
  height: 128px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fefafc;
  z-index: 90;

  &-wrap {
    width: 100%;

    .logo {
      width: 129px;
      height: 30px;
    }
  }

  &-title {
    font-size: 16px;
    color: #282828;

    span {
      cursor: pointer;

      & + span {
        margin-left: 62px;
      }

      &.active {
        font-weight: bold;
        position: relative;
        pointer-events: none;

        &::after {
          content: '';
          height: 4px;
          background: #fa9124;
          position: absolute;
          left: 0;
          bottom: -14px;
          width: 100%;
        }
      }
    }
  }

  .burger {
    width: 28px;
    height: 19px;
  }

  .open-menu {
    width: 100%;
    padding: 40px 20px 15px;
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.13);

    .logo {
      width: 129px;
      height: 30px;
    }

    .close {
      font-size: 40px;
      color: #fa9124;
      cursor: pointer;
    }

    .cell-list {
      width: 100%;

      li {
        width: 100%;
        height: 61px;
        cursor: pointer;
        font-size: 18px;
        font-family: ArialMT;
        color: #191919;
        display: flex;
        align-items: flex-end;
        padding-bottom: 10px;
        border-bottom: 1px solid #eeeeee;

        &.active {
          color: #FA9124;
        }
      }
    }
  }
}
