.footer {
  margin-top: 113px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  &-item {
    position: relative;

    img {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }

    & + .footer-item {
      margin-left: 86px;
    }

    &:hover::after {
      content: '';
      width: 44px;
      height: 44px;
      background: #fa9124;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
}
